<?xml version='1.0' encoding='utf-8' ?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id        = "com.winlaytech.palam"
        version   = "5.0">
    <name>PALAM</name>
    
    <description>
        Application  pour la vulgarisation du PALAM: PROGRAMME D'ALPHABETISATION ET D'APPRENTISSAGE DE METIERS POUR LA LUTTE CONTRE LA PAUVRETE
    </description>
    
    <author email="contact@winlaytech.com" href="http://winlaytech.com">
        Winlaytech
    </author>

    <preference name="permissions"   value="none"/>
    <preference name='phonegap-version' value='cli-5.2.0' />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="ErrorUrl" value="error.html"/>
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="android-build-tool" value="ant" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true"/>
    <preference name="StatusBarBackgroundColor" value="#000000"/>
    <preference name="StatusBarStyle" value="lightcontent" />
    
    
    <!--<feature name="http://api.phonegap.com/1.0/geolocation"/>-->
    <feature name="http://api.phonegap.com/1.0/network"/>

    
    <access origin="tel:*" launch-external="yes"/>
    <access origin="http://google.com" subdomains="true"/>
    <access origin="http://gstatic.com" subdomains="true"/>
    <access origin="https://google.com" subdomains="true"/>
    <access origin="https://gstatic.com" subdomains="true"/>
    <access origin="http://googleapis.com" subdomains="true"/>
    <access origin="https://googleapis.com" subdomains="true"/>
    <access origin="http://agences.noflay.com" subdomains="true"/>
    <access origin="*"/>

    <!--<icon src="images/android/icons/" />-->
    <icon src="images/icon.png"/>
    <splash src="images/splash.png"  />

    <content src="index.html" />
    <allow-navigation href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <gap:plugin name="br.com.paveisitemas.splashscreen" version="2.1.1" />
    <plugin name="io.litehelpers.cordova.sqlite" spec="0.7.10" source="pgb" />
    <!--<gap:plugin name="com.phonegap.core.phonedialer"  />-->
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <!--<gap:plugin name="com.adobe.plugins.gaplugin" version="2.4.0" />-->
    <!--<plugin name="org.apache.cordova.geolocation" spec="0.3.12" source="pgb" />-->
    <platform name="android">
        <supports-screens android:anyDensity="true"
                          android:resizeable="true"
                          android:smallScreens="true"
                          android:normalScreens="true"
                          android:largeScreens="true"
                          android:xlargeScreens="true" />
<!--        <splash  src="images/android/splash/splash-ldpi-portrait.png"     density="port-ldpi"/>
        <splash  src="images/android/splash/splash-ldpi-landscape.png"    density="land-ldpi"/>
        <splash  src="images/android/splash/splash-mdpi-portrait.png"     density="port-mdpi"/>
        <splash  src="images/android/splash/splash-mdpi-landscape.png"    density="land-mdpi"/>
        <splash  src="images/android/splash/splash-hdpi-portrait.png"     density="port-hdpi"/>
        <splash  src="images/android/splash/splash-hdpi-landscape.png"    density="land-hdpi"/>
        <splash  src="images/android/splash/splash-xhdpi-portrait.png"    density="port-xhdpi"/>
        <splash  src="images/android/splash/splash-xhdpi-landscape.png"   density="land-xhdpi"/>
        <splash  src="images/android/splash/splash-xxhdpi-portrait.png"   density="port-xxhdpi"/>
        <splash  src="images/android/splash/splash-xxhdpi-landscape.png"  density="land-xxhdpi"/>
        <splash  src="images/android/splash/splash-xxxhdpi-portrait.png"  density="port-xxxhdpi"/>
        <splash  src="images/android/splash/splash-xxxhdpi-landscape.png" density="land-xxxhdpi"/>-->

<!--        <icon src="images/android/icon/icon-36-ldpi.png"/>
        <icon src="images/android/icon/icon-48-mdpi.png"/>
        <icon src="images/android/icon/icon-72-hdpi.png"/>
        <icon src="images/android/icon/icon-96-xhdpi.png"/>
        <icon src="images/android/icon/icon-128-xxhdpi.png"/>-->
    </platform>
</widget>
